body {
	text-align:center;
	font-family:'merienda', cursive;
	color:#fff793;
	background-color:#f98496;
	background-position:center;
	background-size:cover;
	font-size:1cm;

}
nav ul li {
	display: inline;
	border:4px green ;
	padding: 10px 0px;
	margin: 0px 10px;
}
